################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Link.Pokedex.Database/Link.Pokedex.Database.dbmdl
/Link.Pokedex.Database/Link.Pokedex.Database.jfm
